<div class="container">
	<div class="jumbotron">
		<div class="about-us">
			<%= image_tag("photos/about-us.jpg", class: "about-us-photo") %><br>
		<br><p>Plantains.com is an association fostering mutually-beneficial relationships between growers, suppliers and distributors of Plantains. We specialize in the import and Service of Plantains, and take great pride in the quality of our products. Over 35 years of experience in the produce business has built strong and extensive business relationships with growers/suppliers and Buyers. This allows us to remain competitive in any market. We build TRUST by… bringing only the best products to the consumer.<p>

		<p>We conduct our operations with honesty, integrity and transparency. Always respecting the rights and interests of those with whom we conduct business. To succeed in providing excellent product requires the highest standards from all of us.<p>

		<p>We are committed to building an excellent reputation by providing exceptional customer service, superior product and presentation, and fair market pricing.</p>

		<p>Striving to be leaders in field, by offering our customers top quality products processed in a variety of ways. We are always trying to improve our products and personalize service.</p>

		<p>We strive to make our supplier and consumer relationships a win…win…win…for all involved.</p>

		<%= image_tag("photos/our-history.jpg", class: "our-history-photo") %><br>

		<center><h2><strong>Growing, supplying and distributing Plantains since 1978...</strong></h2></center>

		<br><p>For over 35 years Alejandro Machuca has built a business that has expanded to include a vast array of exotic and tropical fruits and vegetables from a myriad of countries around the world. An original 400 boxes of imported plantains back in 1978 grew to 25,000 boxes a week, and is now only one of the many products of his expertise. In his years of business Alex has served as an importer/exporter and distributor and has learned all facets of the produce business. His experience working together with growers to negotiating fair business practices has earned him strong and trusting relationships overseas and in the US. This is how it all began….</p>

		<p>Alejandro Machuca was born in Ecuador and fortunate enough to have a mother that strived to progress and worked hard to bring her family to the United States. Azucena Machuca Carriel, his mother and mentor, is credited with taking that first step on American soil and bringing the best Ecuador had to offer with her. She came to “the land of opportunity” in 1968. Speaking very limited English and with 4 children she was determined to build a successful business to maintain her young family. In the past she had tried a few business ventures, some of which included the export of hard goods, but had found only limited success. She had mostly thought about all of the unique products that the US had to offer Ecuador, but as she became more familiar with the Tri-state area she began to realize that the Hispanic community was growing quickly and that there were many products that were hard to find and were limited in quantity and quality. One such product came to mind, one which is at the heart of many a Latin American meal, the “platano” aka “plantain”.</p>

		<p>The “platano” is a member of the banana family, but can be eaten as a fruit or vegetable. They are starchy, firmer and lower in sugar than bananas as known in the US. They are not eaten raw, but are cooked or processed and are treated as a staple food in tropical regions, much as the “potato” is used in the US. Her decision to bring the best Ecuador had to offer to the US changed her life and set the foundation for her college age sons to learn the family business early.</p>

		<p>The produce business is a tough business for any man…let alone a woman. It requires the cultivation of valuable connections in participating countries. It demands the ability to communicate in multiple languages and the socio economic levels. It necessitates the building of trust and it is a business with mostly men at the forefront. Azucena Machuca was ready to step into the “platain” arena with her sons to back her up. The first shipment of 400 boxes of plantain from Ecuador for Hermanos Machuca (Machuca Bros.) came in 1978. It was to be distributed at the Bronx Terminal Market in New York. This initial shipment eventually led to the importation of many more Latin American products eventually expanding into seafood. Soon after, the Machuca Family built a shrimp packing house in Ecuador and also began exporting shrimp. Alejandro Machuca, her oldest son, worked with her from start to finish.</p>

		<p>In 1987, Azucena Machuca at the young age of 52, succumbed to cancer, leaving behind a legacy and strong foothold for growth, development and vast experience, all of which Alejandro Machuca is proud to share with you.</p>
	</div> 
	
		<center><h3><%= link_to "Contact Us...", contact_path %></h3></center>
	</div>
</div>