<div class="container">
	<div class="jumbotron">
		<div class="bananas-contents">
			<center><h1><strong>Nutritional Facts of Bananas</strong></h1></center>
			<center><%= image_tag("photos/banana-nutrition.jpg", class: "bananas-nutrition-photo") %></center>
			<h2><strong>Health benefits of Bananas:</strong></h2>
				<ul>
					<li><p>Bananas are rich in a mineral called potassium. This mineral is important as it helps maintain fluid levels in the body and regulates the movement of nutrients and waste products in and out of cells.</p></li>

					<li><p>Potassium also helps muscles to contract and nerve cells to respond. It keeps the heart beating regularly and can reduce the effect of sodium on blood pressure.</p></li>

					<li><p>Potassium may reduce the risk of kidney stones forming as people age. In turn, healthy kidneys make sure that the right amount of potassium is kept in the body.</p></li>

					<li><p>One medium-sized banana contains 422 milligrams of potassium.</p></li>
				</ul>
				<p><%= link_to "Back", ecuador_path %></p>
		</div>
	</div>
</div>