<div class="container">
	<div class="jumbotron">
		<div class="colombia-contents">
			<h1><strong>Colombia Products</strong></h1>
			<h2>Coming soon...</h2>
			<h3>If you need a specific product from Colombia immediately, please let us know in the <%= link_to "Contact us", contact_path %> page.</h3>
		</div>
	</div>
</div>