<section id="contact" style="">
            <div class="container">
                <div class="row">
                    <div class="about_our_company" style="margin-bottom: 20px;">
                        <h1 style="color:#fff;">Contact Us</h1>
                        <div class="titleline-icon"></div>
                        <p style="color:#fff;">Please give us 24 hours to respond to your inquiry.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <form method="POST" name="sentMessage" action="//formspree.io/info@plantains.com">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                    <select data-drupal-selector="edit-field-contact-title" class="form-control required form-control" id="title" name="field_contact_title" required="required" aria-required="true" title data-toggle="tooltip" data-original-title>
                                        <option value="_none">Title *</option>
                                        <option value="Request">Ms</option>
                                        <option value="Sales">Mrs</option>
                                        <option value="Buy">Mr</option>
                                    </select>
                                     </div>
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control" placeholder="Your Full Name *" id="name" required="" data-validation-required-message="Please enter your Full Name.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="company" class="form-control" placeholder="Your Company *" id="name" required="" data-validation-required-message="Please enter your Company Name.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control" placeholder="Your Email *" id="email" required="" data-validation-required-message="Please enter your email address.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="country" class="form-control" placeholder="Your Country *" id="name" required="" data-validation-required-message="Please enter your country.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="city" name="city" class="form-control" placeholder="Your City/Province *" id="city" required="">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="skype" class="form-control" placeholder="(Optional) Your Skype ID *" id="name">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Your Message *" id="message" required="" data-validation-required-message="Please enter a message."></textarea>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                    <select data-drupal-selector="edit-field-contact-subject" class="form-select required form-control" id="subject" name="field_contact_subject" required="required" aria-required="true" title data-toggle="tooltip" data-original-title>
                                        <option value="_none">Subect *</option>
                                        <option value="Request">Request</option>
                                        <option value="Sales">Sales</option>
                                        <option value="Buy">Buy</option>
                                        <option value="Suggestions">Suggestions</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="add" name="add" class="form-control" placeholder="Your Address 1 *" id="address" required="">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="form-group">
                                        <input type="zip" name="zip" class="form-control" placeholder="Your Zip/Postal Code *" id="zip" required="">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                     <div class="form-group">
                                        <input type="tel" name="tel" class="form-control" placeholder="(Optional) Your Phone" id="phone" required="">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-12 text-center">
                                    <div id="success"></div>
                                    <button type="submit" class="btn btn-xl get">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <p style="color:#fff;">
                            <strong><i class="fa fa-map-marker"></i> Location</strong><br>
                            Global
                        </p>
                        <p style="color:#fff;"><strong><i class="fa fa-phone"></i> Skype ID</strong><br>
                            Plantains.com</p>

                            <%#= 

                            <p style="color:#fff;">
                            <strong><i class="fa fa-envelope"></i>  Email Address</strong><br>
                            info@plantains.com</p>

                            %>

                        <p></p>
                    </div>
                </div>
            </div>
        </section>