<div class="container">
	<div class="jumbotron">
		<div class="malanga-contents">
			<center><h1><strong>Nutritional Facts of Malanga</strong></h1></center>
			<center><%= image_tag("photos/malanga-nutrition.jpg", class: "malanga-nutrition-photo") %></center>
			<h2><strong>Health benefits of Malangas:</strong></h2>
				<ul>
					<li><p>Malanga is a brown, hairy tuber in the Arum family that is cultivated inmany tropical regions around the world. It is closely related to taroroot, although the two plants are found in different genera. Like taro,
					this tuber usually is ground into a paste that can be used to make a rich, starchy flour that can be used in an assortment of foods. People who have food allergies sometimes find that malanga is a great hypoallergenic flour
					alternative because the particles of starch are very small, reducing the risk of an allergic reaction.</p></li>

					<li><p>Consumers of this tuber describe the flavor as nutty and very earthy, and some people say that it tastes more like an nut than a vegetable. In addition to being ground up for flour, the corms also can be sliced and fried, stewed, or grilled. The leaves also are used as sources of roughage, appearing in stews and in other dishes while they are still young and tender.</p></li>

					<li><p>Technically, malanga roots are corms, meaning that they are not roots but underground stems that are used to store valuable nutrients for the parent plant. This makes them extremely valuable nutritionally, because they contain concentrated nutrients. At first glance, the corms of the plant look sort of like hirsute yams, with dark brown to orange-ish skin covered in wiry hair. When split open, they have creamy white flesh.</p></li>
					<li><p>Above ground, this plant has broad, shapely leaves. Many people cultivate the plant as an ornamental, and in some cases, people are not aware that their decorative plants have an edible function as well. This plant has several other names, including tannia, tannier, cocoyam, and yautia, and this can add to the confusion even further, especially because they are used to refer to a many species in the Xanthosoma genus, all of which have varying characteristics. Malanga for eating and products made from it, such as flour, can be found in some Latin American markets, and ornamental varieties are available at garden stores.</p></li>

					<li><p>Food historians believe that the plant was first domesticated in South America or Central America and that it spread slowly to other civilizations in that part of the world. When European explorers were introduced to the starchy tuber, they carried it with them to colonies in other regions of the world, resulting in widespread tropical cultivation of this tuber. Foods made with malanga are very popular in the Philippines and Puerto Rico, although in most other regions, the plant is considered inferior to taro root.</p></li>
				</ul>
				<p><%= link_to "Back", ecuador_path %></p>
		</div>
	</div>
</div>