<div class="container">
	<div class="jumbotron">
		<div class="mangos-contents">
			<center><h1><strong>Nutritional Facts of Mangos</strong></h1></center>
			<center><%= image_tag("photos/mango-nutrition.jpg", class: "mango-nutrition-photo") %></center>
			<h2><strong>Health benefits of Mangos:</strong></h2>
				<p>In addition to sumptuous tropical flavor, mangos deliver a host of nutrients and make healthy eating a delightful sensory experience. The Dietary Guidelines for Americans recommend that healthy adults consume 5 to 13 servings of fruits and vegetables every day (based on a daily consumption of 1,200 to 3,200 total calories). That’s where mangos come in! The versatile mango is available year round and adds delicious flavor to a balanced diet. The following statements have been reviewed and approved by USDA following FDA guidelines for nutrition statements.</p>
				<ul>
					<li><p>One cup of Mangos is just 100 calories, so it's a satisfying sweet treat.</p></li>
					<li><p>Each serving of Mango is fat free, sodium free and cholesterol free.</p></li>
					<li><p>Mangos contain over 20 different vitamins and minerals, helping to make them a superfood.</p></li>
				</ul>
				<p><%= link_to "Back", ecuador_path %></p>
		</div>
	</div>
</div>