<div class="container">
	<div class="jumbotron">
		<div class="paca-contents">
			<h1><strong>Perishable Agricultural Commodities Act (PACA)</strong></h1>
			<p>The Perishable Agricultural Commodities Act (PACA) was enacted at the request of the fruit and vegetable industry to promote fair trade in the industry. PACA protects businesses dealing in fresh and frozen fruits and vegetables by establishing and enforcing a code of fair business practices and by helping companies resolve business disputes</p>
			<p>AMS is responsible for administering PACA and offers many PACA-related services to the produce industry. Our PACA experts receive hundreds of telephone calls each week from companies requesting assistance on problems unique to the industry, such as interpretation of inspection certificates, advice on contract disputes and bankruptcy payments.</p>
			<p>Working in partnership with the fruit and vegetable industry, PACA facilitates fair trade practices through education, mediation, arbitration, licensing and enforcement.</p>
			<center><h3>Do you have any questions regarding PACA? <%= link_to "Ask us here.", contact_path %></h3></center>
			<p><%= link_to "Back", services_path %></p>
		</div>
	</div>
</div>