<div class="home-index main-body" id="main-content">
	<div id="banner">
			<%= image_tag("photos/emerland.jpg", class: "home-bg") %>
	</div> <%# banner %>
	<div class="container">
		<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 post-title-block">
		    <br><h1 class="text-center">Services</h1>
		      <ul class="list-inline text-center">
		          <li> </li>
		      </ul>
		 </div>
		</div><!-- row -->
	</div><!-- container -->
</div><!-- home-index main-body main-content -->

<div class="buyers">
	<div class="row">
		<div class="home-row">
			<div class="container">
					<div class="col-md-12">
						<h2><strong>What we do:</strong></h2>
						<ul><li><p>We specialize in the import and export of Plantains, fruits, and food products from all
						over the world and take great pride in the quality of our products. Over 35 years of
						experience in the produce business has built strong and extensive business relationships
						with overseas growers. This allows us to remain competitive in any market. We build
						TRUST by… bringing only the best products to the consumer.</p></li>
						<li><p>We conduct our operations with honesty, integrity and transparency. Always respecting
						the rights and interests of those with whom we conduct business. To succeed in providing
						excellent product requires the highest standards from all of us.</p></li>
						<li><p>We are committed to building an excellent reputation by providing exceptional customer
						service, superior product and presentation, and fair market pricing.</p></li>
						<li><p>Striving to be leaders in the agro industrial field, by offering our customers top quality
						agricultural products processed in a variety of ways – fresh and frozen. We are always
						trying to improve our products and personalize service.</p></li>
						<li><p>We strive to make our supplier and consumer relationships a win…win…win…for all involved.</p></li></ul>
					</div>
					</div>
			</div><!-- container -->
		</div><!-- buyers -->
	</div><!-- row -->
</div><!-- home-row -->























