<div class="container">
	<div class="jumbotron">
		<div class="services-contents">
			<%= image_tag("photos/services.jpg", class: "about-us-photo") %><br>
				<h1><strong>What we do:</strong></h1>
				<ul>
				<li><p>Connect growers and distributors.</p></li>
				<li><p>Provide the necessary tools to commercialize your products and reach your targeted client base (Storage of your products at the right temperature, product inspection, etc.)</p></li>
				<li><p>Protect you against unfair business practices through PACA.</p></li>
				<li><p>Offer valuable technical information needed to properly pack and market your products.</p></li>
				<li><p>Assist with legal representation for any import/export transaction.</p></li>
				<li><p><strong>Sell your product.</strong></p></li>
				</ul>
				<h2>Let us be your eyes... And help eliminate mistakes that may cost you.</h2>
				<center><h3>Any questions? <%= link_to "Contact Us...", contact_path %></h3></center>
		</div>
	</div>
</div>