<div class="container">
		<div class="services-contents">
			<%= image_tag("photos/services.jpg", class: "services-photo") %><br>
				<h1><strong>What we do:</strong></h1>
				<ul>
				<li><p>Connect growers and distributors.</p></li>
				<li><p>Provide the necessary tools to commercialize your products and reach your targeted client base (Storage of your products at the right temperature, product inspection, etc.)</p></li>
				<li><p>Increase your chances against unfair business practices.</p></li>
				<li><p>Offer valuable technical information needed to properly pack and market your products.</p></li>
				<li><p>Assist with legal representation for any import/export transaction.</p></li>
				<li><p><strong>Sell your product.</strong></p></li>
				</ul>
				<center><h3><%= link_to "Contact Us!", contact_path %></h3></center>
		</div>
</div>